<div class="ui fluid labeled input" >
    <label class="ui fluid huge label" style="{{labelStyle}}" >
        <i class="big cloud upload icon"></i>
        upload files
    </label>
    {{ui-file-input style=inputStyle fileObject=fileObject}}
</div>
<div class="ui divided items" >
    {{#each queue as |q| }}
        <div class="item" >
            {{#if q.isDisplayableImage}}
                <div class="image" >
                    <img src="{{q.base64Image}}">
                </div>
            {{/if}}
            <div class="content" >
                <div class="header" >
                    {{q.name}} {{progress}}
                </div>
                <div class="meta" >
                    {{q.size}}
                </div>
                <div class="description" >
                    {{#ui-progress theme="green" percent=q.uploadProgress }}{{/ui-progress}}
                </div>
                <div class="extra" >
                    {{#unless q.didUpload }}
                        <div class="ui green button" {{action "startUpload" q }} >
                            <i class="upload icon" ></i>
                            upload
                        </div>
                        <div class="ui button" {{action "cancelUpload" q }} >
                            <i class="cancel icon"></i>
                            cancel
                        </div>
                    {{/unless}}
                    {{#if q.didUpload}}
                        <div class="ui red button" {{action "deleteFile" q }} >
                            <i class="delete icon" ></i>
                            delete
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/each}}
</div>