{{outlet}}

<div class="ui grid" >
    <div class="column" >
        <div class="ui items" >
            <div class="ui dividing header" >example 1</div>
            <div class="item" >
                <div class="content" >
                    <div class="ui form" >
                        {{#ui-checkbox-group theme="inline fields" value=checkvalue as |valueChange| }}
                            <label>choose company</label>
                            <div class="field" >
                                {{#ui-checkbox  value="apple" action=(action valueChange) }}apple{{/ui-checkbox}}
                            </div>
                            <div class="field" >
                                {{#ui-checkbox  value="google" action=(action valueChange) }}google{{/ui-checkbox}}
                            </div>
                            <div class="field" >
                                {{#ui-checkbox  value="dropbox" action=(action valueChange) }}dropbox{{/ui-checkbox}}
                            </div>
                        {{/ui-checkbox-group}}
                    </div>
                    <div class="meta" >
                        {{checkvalue}}
                    </div>
                </div>
            </div>
            <div class="ui dividing header" >example 2</div>
            <div class="item" >
                <div class="content" >
                    <div class="ui form" >
                        {{#ui-checkbox-group theme="grouped fields" label="choose company" options=options value=checkvalue2 }}{{/ui-checkbox-group}}
                    </div>
                    <div class="meta" >
                        {{checkvalue2}}
                    </div>
                </div>
            </div>
            <div class="item" >
                <div class="content" >
                    <button class="ui green button" {{ action "addOption" }} >add</button>
                    <button class="ui  button" {{ action "removeOption" }} >remove</button>
                    <button class="ui  button" {{ action "changeOption" }} >change</button>
                    <button class="ui  button" {{ action "changeValue" }} >change value2</button>
                </div>
            </div>
            <div class="ui dividing header" >example 3</div>
            <div class="item" >
                <div class="content" >
                    <div class="ui form" >
                        {{#ui-checkbox-group label="choose company" theme="inline fields" options=options value=checkvalue3 }}{{/ui-checkbox-group}}
                    </div>
                    <div class="meta" >
                        {{checkvalue3}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>