{{outlet}}

<div class="ui grid" >
    <div class="column" >
        <div class="ui items" >
            <div class="ui dividing header" >example 1 used yield manu</div>
            <div class="item" >
                <div class="content" >
                    <div class="ui form" >
                        {{#ui-radio-group theme="grouped" value=checkvalue name="co1" as |vc| }}
                            <label>choose company</label>
                        <div class="field" >
                            {{#ui-radio  value="apple" action=vc }}apple{{/ui-radio}}
                        </div>
                        <div class="field" >
                            {{#ui-radio  value="google" action=vc }}google{{/ui-radio}}
                        </div>
                        <div class="field" >
                            {{#ui-radio  value="dropbox" action=vc }}dropbox{{/ui-radio}}
                        </div>
                        {{/ui-radio-group}}
                    </div>
                    <div class="meta" >
                        {{checkvalue}}
                    </div>
                </div>
            </div>
            <div class="ui dividing header" >example 2 options auto</div>
            <div class="item" >
                <div class="content" >
                    <div class="ui form" >
                        {{#ui-radio-group theme="grouped" labelPath="label" label="choose company" name="co2" options=options value=checkvalue2 }}{{/ui-radio-group}}
                    </div>
                    <div class="meta" >
                        {{checkvalue2}}
                    </div>
                </div>
            </div>
            <div class="item" >
                <div class="content" >
                    <button class="ui green button" {{ action "addOption" }} >add</button>
                    <button class="ui  button" {{ action "removeOption" }} >remove</button>
                    <button class="ui  button" {{ action "changeOption" }} >change</button>
                    <button class="ui  button" {{ action "changeValue" }} >change value2</button>
                </div>
            </div>
            <div class="ui dividing header" >example 3 options auto</div>
            <div class="item" >
                <div class="content" >
                    <div class="ui form" >
                        {{#ui-radio-group name="co3" labelPath="label" label="choose company" theme="inline fields" options=options value=checkvalue3 }}
                        {{/ui-radio-group}}
                    </div>
                    <div class="meta" >
                        {{checkvalue3}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
