{{outlet}}

<div class="ui grid" >
    <div class="column" >
		<div class="items">
			<div class="ui form" >
				<button class="ui button" {{action "showAll"}} >show all</button>

				<h3>选项固定，值只有一个 {{value}}</h3>
				{{#ui-select label="品牌选择" placeholder="品牌选择" search=true options=options value=value}}{{/ui-select}}

				<h3>选项固定，值有多个  {{valuesShow}}</h3>
				{{#ui-multi-select label="品牌选择" search=true placeholder="品牌选择" options=options value=values}}{{/ui-multi-select}}

				<h3>选项固定，单值, 值是动态的 {{valueDynamic}}</h3>
				{{#ui-select label="品牌选择" placeholder="品牌选择" options=options value=valueDynamic}}{{/ui-select}}
				{{#ui-button action="changeValue"}}change{{/ui-button}}

				<h3>选项固定，多值, 值是动态的 {{valuesDynamicShow}}</h3>
				{{#ui-multi-select label="品牌选择" placeholder="品牌选择" options=options value=valuesDynamic}}{{/ui-multi-select}}
				{{#ui-button action="changeValues"}}change{{/ui-button}}	
			</div>
    	</div>
    </div>
</div>